<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <!-- Left: Library name -->

      <%= link_to "My Library", my_library_path, class: "text-white text-lg font-bold" %>


      <!-- Right: Menu items -->
      <div class="hidden md:block">
        <div class="ml-10 flex items-center space-x-4">
        <%= link_to "All Books", books_path, class: "text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          <a href="#" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Borrowed Books</a>
          <%= link_to "Log In", new_session_path, class: "text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          <%= link_to "Register", new_user_path, class: "text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
        </div>
      </div>
    </div>
  </div>
</nav>
